<header>
<h1>Carrito de compras</h1>
</header>

<main>
    <section>
        <h3>Lista de productos agregados</h3>
        <div>            
            <ul id="cart-list" class= "home-products-list-style"></ul>
        </div>
        <button id="btn-refresh-cart-list">Actualizar Carrito</button>
    </section>
</main>

<script src="/api/public/js/cart.js"></script>