<header>
<h1>Pagina de Inicio - Productos</h1>
</header>

<main>
    <section>
        <h3>Lista de productos</h3>
        <div>            
            <ul id="products-list" class= "home-products-list-style"></ul>
        </div>
        <button id="btn-refresh-products-list">Actualizar</button>
    </section>
</main>

<script src="/api/public/js/products.js"></script>